.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #13e04a;
}

p {
  font-size: 2rem;
  color: #e19118;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}


@keyframes roll {
  0% { transform: rotate(0); }
  25% { transform: rotate(90deg); }
  50% { transform: rotate(180deg); }
  75% { transform: rotate(270deg); }
  100% { transform: rotate(360deg); }
}

.rolling {
  animation: roll 1s ease-in-out;
}


